numpy
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm
more-itertools
transformers>=4.19.0
ffmpeg-python==0.2.0
opencc
jieba
editdistance
pandas
inflect
sacrebleu
profanityfilter
ftfy 
regex
av